/* ==========================
   1. BODY & BACKGROUND
========================== */
body {
    margin-top: 70px;
    background: url("https://raw.githubusercontent.com/vulichivenkatesh97/venkatesh/main/IoT%20engineer%20bg.webp") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Blur the Background Image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}

/* ==========================
   2. NAVBAR
========================== */
.navbar {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
}

/* ==========================
   3. HEADER SECTION
========================== */
header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ==========================
   4. PROJECTS SECTION
========================== */
#projects {
    background-color: rgba(28, 28, 28, 0.95);
    color: white;
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    color: #f8f9fa;
    padding-left: 15px;
}

/* ==========================
   5. PROJECT DESCRIPTION
========================== */
p {
    font-size: 16px;
    line-height: 1.8;
    color: #dcdcdc;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

/* ==========================
   6. CONTACT SECTION
========================== */
.section-container{
      background-color: rgba(28, 28, 28, 0.9);
      padding: 30px;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #1c1e21;
    color: white;
    margin-top: 30px;
   margin-bottom: 30px;
}
